/* Główne opakowanie */
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}


/* Główna zawartość: dane + wykresy */
.dashboard-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Lewa kolumna z danymi */
.stats-section {
  flex: 0 0 300px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.stats-section h2 {
  margin-bottom: 1rem;
}

.stats-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats-section li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

/* Prawa kolumna z wykresami */
.charts-section {
  flex: 1;
  max-width: 800px;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.charts-section h2 {
  margin-bottom: 1rem;
}

.charts-section h3 {
  margin: 1.5rem 0 0.5rem;
}

.accordion-chart {
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  background-color: #f9f9f9;
}

.accordion-header:hover {
  background-color: #f1f1f1;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-content {
  padding: 1rem;
}